<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <!--configSections must be the FIRST element -->
    <configSections>
        <section name="dataCacheClient"
           type="Microsoft.ApplicationServer.Caching.DataCacheClientSection, Microsoft.ApplicationServer.Caching.Core, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
           allowLocation="true"
           allowDefinition="Everywhere"/>
    </configSections>

    <dataCacheClient>
        <hosts>
            <host
               name="SERGEYB-PC1"
               cachePort="22233"/>
        </hosts>
        <localCache
             isEnabled="true"
             sync="TimeoutBased"
             objectCount="100000"
             ttlValue="300" />

    </dataCacheClient>

    <connectionStrings>
        <add name="ProductConnection"
             connectionString="Server=(local);Database=Products;Trusted_Connection=True;"
             providerName="System.Data.SqlClient"/>
    </connectionStrings>

</configuration>